@font-face {
    font-family: "indeed";
    src: url('./src/fonts/IndeedSans-Light.ttf');   
}




@media (max-width: 412px) {
    html{
        background-image: url('./src/image/fundo-principal.png');
        font-family: 'indeed', ari;
        text-align: center;


        
    }
    .titulo{
        padding-top: 100px;
        padding-bottom: 30px;
        font-size: 30px;
    }
    li{
        padding: 10px;
    }
    
        

    

































}